.outerWrapper {
  position: relative;
  width: 33.3%;
}

.outerWrapper:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.innerWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.itemWrapper {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}